.App {

}

main {
    padding: 2.5rem;
}

.css-o2w69a-MuiTypography-root  {
    font-size: 1rem;
    text-align: center;
}

.css-1v5z4dq-MuiPaper-root-MuiCard-root {
    padding: 0.7rem;
    margin: 2rem auto;
    _background-color: #ffab40;
}
.css-1or64il-MuiButtonGroup-root{
    margin: 1rem ;
}


/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
