.css-o2w69a-MuiTypography-root  {
    font-size: 3rem;
    text-align: center;
}

.css-m184rh-MuiTypography-root {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}

css-1qr8b4b-MuiTypography-root {

}